/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "breakpoint";

//variables
$allisonpurple: #785164;
$allisondarkpurple: #442534;
$allisongreen: #B3D6BE;

$breakpoint-small-width: max-width 480px;
$breakpoint-medium-width: max-width 768px;
$breakpoint-large-width: max-width 1111px;

//placeholder selectors
%allisonfont {
	font-family: Satisfy, cursive, Georgia, serif;
}

%resume-line-details {
	color: gray;
	font-style: italic;
	font-size: .75em;

	line-height: 1.75em;

	@include breakpoint($breakpoint-small-width) {
		font-size: .65em;
		width: 80%;
	}
}

//mixins
@mixin social-media($icon, $hover) {
	width: 165px;
	height: 100px;
	margin: 0 auto;
	display: block;
	background: transparent url($icon) top no-repeat;
	background-size: 50%;

	&:hover {
		background-image: url($hover);
		background-size: 40%;
	}

	span {
		display: none;
	}
}

html {

	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;

	font-family: Helvetica, "Lucida Grande", Verdana, sans-serif;
	font-size: 1.5em;

	text-align: center;

	a {
		color: purple;
		text-decoration: none;

		&:hover {
			font-style: italic;
			color: purple;
			text-decoration: underline;

		}
	}
}

header {
	background-color: $allisonpurple;
	color: white;

	padding: 5%;

	text-align: center;
	font-size: 3em;

	@extend %allisonfont;

	a {
		color: white;
		&:hover {
			color: $allisongreen;
			text-decoration: none;
			font-style: normal;
		}
	}

	@include breakpoint($breakpoint-small-width){
		font-size: 2em;
	}
}

nav {
	
	//background-color: white;
	padding: 2% 0%;
	margin: 0 auto;
	text-align: center;
	text-wrap: none;

	@include breakpoint($breakpoint-small-width) {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	a {
		text-decoration: none;
		color: gray;

		text-align: center;
		width: 100%;

		padding: 2% 3%;
		margin: 0%;

		&:hover, &#iamhere {
			background-color: $allisondarkpurple;
			color: white;
			text-decoration: none;
			font-style: italic;

		}

		@include breakpoint($breakpoint-small-width){
			display: block;

			margin: 0%;
		}

	}
}

nav#second-nav{
	background-color: $allisondarkpurple;
	border-top: 2px solid $allisondarkpurple;
	border-bottom: 2px solid $allisondarkpurple;
	margin: 0 auto;

	font-size: 0.75em;

	a {
		color: white;
		padding: 2% 3%;

		&:hover {
			background-color: $allisonpurple;
			color: white;
			margin: 0 auto;
		}
	}

	@include breakpoint($breakpoint-small-width) {
		display: none;
	}
	
}

div {

	h2 {
		background-color: $allisongreen;
		color: $allisondarkpurple;

		@extend %allisonfont;

		font-size: 1.5em;

		padding: 2% 0%;
		text-align: center;
	}

	h3 {
		color: black;
		font-weight: bold;
		
		display: block;
		width: 60%;
		margin: 0 auto;
		
		padding-bottom: 0%;
		line-height: 1.25em;
		border-bottom: 1px solid gray;

		@include breakpoint($breakpoint-medium-width) {		
			font-size: .85em;
		}

		@include breakpoint($breakpoint-small-width) {
			font-size: .75em;
			width: 85%;
		}
		
	}

	em {
		@extend %resume-line-details;
	}

	p, ul {
		background-color: none;
		color: $allisondarkpurple;

		font-size: 1em;
		line-height: 2em;
		
		text-align: center;	
		padding: 1% 5%;

		@include breakpoint($breakpoint-small-width){
			padding: 5% 8% 5%;
		}

		li {
			padding: 2% 0%;

			@include breakpoint($breakpoint-small-width){
				padding: 4% 0%;
			}
		}

		ul {
			@extend %resume-line-details;

			li {
				padding-bottom: 1%;

				@include breakpoint($breakpoint-small-width){
					padding-bottom: 2%;
				}
			}
		}
	}
}

#portfolio {
	img {
		padding-right: 5%;

		@include breakpoint($breakpoint-small-width) {
			width: 300px;
			height: auto;
		}
	}
}

#contact {
	.linkedin {
		@include social-media('../images/linkedin_icon.png', '../images/linkedin_circle.png')
	}

	.twitter {
		@include social-media('../images/twitter_icon.png', '../images/twitter_circle.png')
	}

	.email {
		@include social-media('../images/email_icon.png', '../images/email_circle.png')
	}

	ul {

		padding: 0;
		margin-bottom: 10px;
		
		li {
			display: inline-block;
			padding: 0;
			margin: 0;

			span {
				background: green;
			}

			@include breakpoint($breakpoint-small-width) {
				display: block;

				.linkedin, .twitter, .email {
					background-size: 60%;
					height: 120px;

					&:hover {
						background-size: 60%;

					}
				}
			}
		}

	}
}

footer {
	
	background-color: $allisonpurple;
	color: white;
	
	padding: 1% 5%;
	font-size: 0.5em;

	text-align: center;

	a {
		color: $allisongreen;

		&:hover {
			color: $allisongreen;
			text-decoration: underline;
			font-style: italic;
		}
	}

	p {
		padding: 1%;
	}
}


#about {
	background-image: url("../images/profile.png");
	background-repeat: no-repeat;
	background-position: 90% 100%;

	p {
		margin: 4% 38% 4% 0%;

		padding-right: 0%;
		padding-left: 10%;

		background: none;

		text-align: left;
	}

	@include breakpoint($breakpoint-medium-width){
		background-image: url("../images/profile_small_circle.png");
		background-repeat: no-repeat;
		background-position: 50% 20%; 

		p {
			margin-right: 0%;
			margin-top: 32%;

			padding-right: 5%;
		}
	}

	@include breakpoint($breakpoint-small-width){
		background-image: url("../images/profile_small_circle.png");
		background-repeat: no-repeat;
		background-position: 50% 10%; 

		p {
			margin-right: 0%;
			padding-top: 20%;
			padding-right: 5%;
		}
	}
}
